*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea/misc.xml
.idea/.name
.idea/deploymentTargetDropDown.xml
.idea/gradle.xml
.idea/migrations.xml
.idea/gradle.xml
.idea/misc.xml
/.idea
/.idea
